<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <title>登录</title>
</head>
<body>
<input type="text" placeholder="用户名">
<input type="password" placeholder="密码">
<button>提交</button>
<script>
  $(function(){
    $('button').click(function() {
      var name = $('input[type=text]').val();
      var pw = $('input[type=password]').val();
      $.ajax({
        type: 'POST',
        url: 'http://127.0.0.1:8361/index/signin',
        data:{name: name, pw: pw},
        success: function () {
          window.location.href = 'http://127.0.0.1:8361/app/getList'
        }
      })
    });
  });
</script>
</body>
</html>
